<header>
<div class="jumbotron">
      <h1>{{title}}</h1>      
    <p>You just can't get enough</p>
    </div>       
  </header>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboard">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/nerdy">Nerdy</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/explicit">Explicit</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
<footer>
 Created by Syprose Gwako
</footer>
  


